<section class="aboutMain">
  <div class="proPic col-4">
    <img
      src="./assets/images/picture_sai.jpg"
      alt="profile picture"
      class="img-fluid"
    />
  </div>
  <div class="content col-6">
    <div class="textHead">
      <h3 class="text">Hi, Welcome to my portfolio...!</h3>
    </div>
    <div class="textContent">
      <p class="aboutText">
        I am a passionate and experienced Full Stack Web Developer with a strong
        background in both front-end and back-end development. My journey into
        web development began with a curiosity about how websites work and a
        desire to create impactful digital experiences. I started by learning
        HTML, CSS, and JavaScript, and quickly fell in love with the process of
        turning ideas into interactive, user-friendly web applications.
      </p>
      <p class="aboutText">
        I am driven by a passion for learning and staying up-to-date with the
        latest industry trends and technologies. I thrive in collaborative
        environments where I can contribute to and learn from a team of talented
        developers. My goal is to continue growing as a developer and to build
        innovative solutions that make a difference.
      </p>
    </div>
  </div>
  <div class="col-2"></div>
</section>
