<section class="homeMain">
  <div class="homeInrSec">
    <!-- header section -->
    <div class="header">
      <app-header></app-header>
      <button class="d-md-none" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <!-- main section  -->
    <div class="main">
      <mat-drawer-container>
        <mat-drawer #drawer mode="side" opened>
          <mat-list *ngFor="let list of navList">
            <a
              href="#"
              mat-list-item
              routerLink="{{ list.routerLink }}"
              routerLinkActive="active"
              >{{ list.navBarItem }}</a
            >
          </mat-list>
        </mat-drawer>
        <mat-drawer-content>
          <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
    <!-- footer section -->
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</section>
