<div class="skillsMain">
    <div class="skillsHeader">
        <h2>
            Skills:
        </h2>
        <!-- <div *ngFor="let list of skillsList">
            <div class="row pb-2">
                <h5 class="col-2 text-end">{{list.skillName}} </h5>
                <div class="col-5">
                    <mat-progress-bar mode="determinate" value={{list.skillProgress}}></mat-progress-bar>
                </div>
            </div>
        </div> -->
        <div>
            <ul class="list-group">
                <li
                class="list-group-item d-flex justify-content-between align-items-start"
              >
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Programming Skills:</div>
                  C, Java, NodeJS, JavaScript, TypeScript
                </div>
              </li>
              <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Web Technologies:</div>
                HTML, CSS3, CSS Preprocessors, Bootstrap, Angular Material, Material UI
              </div>
            </li>
            <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Frameworks</div>
              Angular, React, Redux, Jasmine, Karma
            </div>
          </li> <li
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">Databases</div>
            SQL, MySQL, Oracle, MongoDB
          </div>
        </li>
         <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Tools</div>
          GitHub, Docker, VS Code, Eclipse, IntelliJ, Jira, Jenkins, Confluence, Webpack, Babel, Splunk, New Relic
        </div>
      </li>
            </ul>
        </div>
    </div>
</div>
