.contactMain{
    font-size: 12px;
    text-align: center;
    padding: 24px 0 ;

    a{
        text-decoration: none;
    }
    .socialLinks  a > img {
        width: 36px;
        padding: 24px 6px;

    }
}